  * { 
    outline: 2px solid red;
}
@font-face { 
    font-family: "MainFont";
    src: url("../fonts/Razing.ttf");
}

body {
    height: auto;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.MainPage {
    display: grid;
    grid-template-columns: minmax(500px, 1fr);
    grid-template-rows: 300px 1fr auto;
    justify-items: center;
}

.MenuNavHeader {
    height: 100px;
    width: max(500px, 50vw);
    display: grid;
    justify-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(0, 0, 0);
} 

.NavMenu { 
    width: 500px;
    display: grid; 
    grid-template-columns: 50px, 50px, 50px;
    grid-template-rows: 50px;
    justify-items: center;
    align-content: center;
    align-items: center;
}

button[id] { 
    width: 150px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
    font-family: MainFont;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}

#HomeButton { 
    grid-column: 1;
}

#MenuButton {
    grid-column: 2;
}

#ContactButton { 
    grid-column: 3;
}

button[id]:hover { 
    background-color: rgb(101, 101, 101);
}

.ActiveButton { 
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.ContentSection { 
    grid-row: 2;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    place-items: center;
    place-content: center;
}


.FooterDiv { 
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 10px;
    width: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    place-items: center;
    place-content: center;
}



/* Custom Made classes for appended elements */

.HomeDiv { 
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.HeaderDiv { 
    height: 160px;
    width: 300px;
    display: grid;
    grid-template-rows: 120px 30px;
    justify-items: center;
    align-items: center;
}

#HomeHeader {
    font-family: MainFont;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
}

#HomeMiniHeader { 
    font-family: MainFont;
    text-align: center;
    justify-self: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

/* Restaurant Div setting for repeating columns */
.RestaurantDivs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 1fr;
    justify-content:space-evenly;
    row-gap: 20px;
    color: rgb(0, 0, 0);
    justify-items: center;
    width: max(500px, 85vw);
}




/*About the Restaurant + Styles*/

.AboutDiv { 
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    height: max(500px, 20vh);
    width: max(500px, 40vw);
}


/* Restaurant Hours + Styles */

.HoursDiv { 
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    height: max(500px, 20vh);
    width: max(500px, 40vw);
}



/* Restaurant Location + Styles */

.LocationDiv {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    height: max(500px, 20vh);
    width: max(500px, 40vw);
}





/* Menu Div + settings */

.MenuDiv { 
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}