  * { 
    outline: 2px solid red;
}
@font-face { 
    font-family: "MyFont1";
    src: url("../fonts/Razing.ttf");
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(18, 18, 18);
}

.MainPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px, 1fr;
    justify-items: center;
}

.MenuNavHeader {
    height: 100px;
    display: grid;
    justify-items: center;
}

.NavMenu { 
    width: clamp(500px, 50vw, 50vw);
    display: grid; 
    grid-template-columns: 50px, 50px, 50px;
    grid-template-rows: 50px;
    justify-items: center;
    align-content: center;
    align-items: center;
}

button[id] { 
    width: 150px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
    font-family: MyFont1;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}

#HomeButton { 
    grid-column: 1;
}

#MenuButton {
    grid-column: 2;
}

#AboutButton { 
    grid-column: 3;
}

button[id]:hover { 
    background-color: rgb(101, 101, 101);
}

button[id]:focus { 
    background-color: black;
    border: 2px solid white;
    color: white;
}

.ContentSection { 
    grid-row: 2;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
    height: clamp(500px, 85vh, 100vh);
    width: clamp(500px, 85vw, 100vw);
}

.HomeDiv { 
    display: grid;
    background-color:rgb(124, 124, 124);
    color: black;
    height: clamp(500px, 85vh, 100vh);
    width: clamp(250px, 85vw, 100vw);
}

#HomeHeader {
    text-shadow: 
    -2px -2px 0 black, 
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
    color: white;
    font-size: 82px;
    width: 250px;
    height: 100px;

}

#HomeBurgerImage {
    width: 200px;
    height: 50px;
}